body {
  font-family: Arial;
  background: #f5f5f5;
}

#products {
  display: flex;
  gap: 20px;
}

.card {
  background: white;
  padding: 10px;
  width: 200px;
  border-radius: 8px;
}

button {
  background: green;
  color: white;
  padding: 5px;
  border: none;
}
